.parallax-container {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -33%);
  will-change: transform;
}

.parallax-image {
  object-fit: contain;
  width: 75%;
  max-width: 364px;
  aspect-ratio: 1 / 1;
  animation: float 3s ease-in-out infinite;
}

/* Optional Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
