
.App {
  background-color: #FFF ;
  font-family: 'Githera Regular', sans-serif;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}


@font-face {
  font-family: 'Githera Regular';
  src: url('./fonts/githera.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre-Franklin-Light';
  src: url('./fonts/LibreFranklin-Light.ttf') format('ttf'),
       url('./fonts/LibreFranklin-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide-right 200s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
}








